body { 
   // background-color: aquamarine;
  //  color:purple;

}
* {
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    //font-family: Oswald, sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    //font-family: Oswald, sans-serif;
}