* {
  box-sizing: border-box;
}

/* header { */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: oswald, sans-serif;
}

#email {
color: gray
}

#containerDisplay {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.customerCard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}