body { 
    background-color: aquamarine;

}
* {
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}